<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Tarefas</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        table { border-collapse: collapse; width: 100%; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        td[contenteditable="true"] { background-color: #f9f9f9; }
    </style>
</head>
<body>

<h2>Tabela de tarefas</h2>
<a href="/logout">Sair</a>

<h3>Tarefas</h3>

<table>
    <thead>
        <tr>
            <th>Selecionar</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Data</th>
            <th>Responsável</th>
            <th>Observações</th>
            <th>PDF</th>
        </tr>
    </thead>
     <tbody>
        {% for tarefa in tarefas %}
        <form action="/tarefas" method="post">
            <tr>
                <td><input type="checkbox" name="remover" value= "{{ tarefa.ID }}" onchange="this.form.submit()"></td>
                <input type="hidden" name="id" value="{{ tarefa.ID }}"> <!-- usado apenas no backend -->
                <td><input type="text" name="descricao" value="{{ tarefa.Descrição or '' }}" onchange="this.form.submit()" ></td>
                <td><input type="text" name="status" value="{{ tarefa.Status or '' }}" onchange="this.form.submit()"></td>
                <td><input type="date" name="data" value="{{ tarefa.Data or '' }}" onchange="this.form.submit()"></td>
                <td><input type="text" name="responsavel" value="{{ tarefa.Responsável or '' }}"onchange="this.form.submit()"></td>
                <td><input type="text" name="observacoes" value="{{ tarefa.Observações or '' }}"onchange="this.form.submit()"></td>
                <td><input type="text" name="PDF" value="{{ tarefa.PDF or '' }}"onchange="this.form.submit()"></td>
            </tr>
        </form>
        {% endfor %}

        <!-- Linha vazia para nova tarefa -->
        <tr>
            <form action="/tarefas" method="post">
                <td><input type="checkbox" name="remover" value = "" onchange="this.form.submit()"></td>
                <td><input type="text" name="descricao" value = "" onchange="this.form.submit()" ></td>
                <td><input type="text" name="status"  value = "" onchange="this.form.submit()"></td>
                <td><input type="date" name="data"  value = "" onchange="this.form.submit()"></td>
                <td><input type="text" name="responsavel"  value = "" onchange="this.form.submit()" ></td>
                <td><input type="text" name="observacoes"  value = "" onchange="this.form.submit()"></td>
                <td><input type="text" name="PDF"  value = "" onchange="this.form.submit()"></td>
            </form>
        </tr>
    </tbody>
</table>

</body>
</html>
